img.centered {
	display: block;margin-left: auto;margin-right: auto
}

img.imgborder {
	border-style:solid;
	border-width:thin;	
}

textarea {
	width:80%;
	height:200px;	
}

#contactform label {
	display: inline-block;
	width: 80px;
	height:25px;
}

#contactform textarea {
	width: 100%;
	height: 150px;
}

div.note {
	border-style:solid;
	border-width:thin;	
	background-color: rgba(85, 245, 121, 0.35);
	font-weight: bold;
	padding: 10px;
}

#authorPlead {
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  padding: 20px;
  margin: 40px 0; 
}

#authorPlead h2 {
  text-decoration: none;
  font-size: 1.5em;
  color: #565a5f;
  line-height: 1.1em;
  margin-bottom:10px;
}

#authorPlead p {
	margin-bottom: 10px;
}

#authorPlead li {
	list-style-type: disc;
	list-style-position: inside;
}

#contactSubmit {
	width: 150px;
	padding: 10px;
	font-size: 2em;
}

#recentContent {
	height: 596px;
}