img.centered {
	display: block;margin-left: auto;margin-right: auto
}

img.imgborder {
	border-style:solid;
	border-width:thin;	
}

textarea {
	width:80%;
	height:200px;	
}

#contactform label {
	display: inline-block;
	width: 80px;
	height:25px;
}

#contactform textarea {
	width: 100%;
	height: 150px;
}

div.note {
	border-style:solid;
	border-width:thin;	
	background-color: rgba(85, 245, 121, 0.35);
	font-weight: bold;
	padding: 10px;
}