<aside id="profile">
  <div class="inner profile-inner">
    <div class="base-info profile-block">
      <img id="avatar" src="https://static.raymondcamden.com{{ .Site.Params.avatar }}">
      {{ with .Site.Params.author}}<h2 id="name">{{ . }}</h2>{{ end }}
      {{ with .Site.Params.bio }}<h3 id="title">{{ . }}</h3>{{ end }}
      {{ with .Site.Params.location }}<span id="location"><i class="fa fa-map-marker"></i>{{ . }}</span>{{ end }}
      {{ with .Site.Params.profile.follow_button }}
          <a id="follow" href="{{ . }}">
              {{with $.Site.Data.l10n.profile.follow_button}}{{.}}{{end}}
          </a>
      {{ end }}
    </div>

    <div class="contact-info profile-block">
      <table class="contact-list">
        <tr>
          {{ partial "social" . }}
          <td><a href="http://feeds.feedburner.com/raymondcamdensblog" target="_blank" title="RSS"><i class="fa fa-rss"></i></a></td>
        </tr>
      </table>
    </div>
  </div>


	<div class="widget-wrap">
		<div class="widget">

	<a href="http://www.slatwallcommerce.com/lp/coldfusion-ecommerce/?utm_source=Raymond%20Camden%20Blog&utm_medium=display&utm_content=Open%20Source%20ColdFusion%20eCommerce%20Platform&utm_campaign=ColdFusion%20eCommerce">
		<img src="https://static.raymondcamden.com/images/rcblog.png" class="centered">
	</a>
		</div>
	</div>

</aside>
