<aside id="sidebar">

	<div class="widget-wrap">
		<h3 class="widget-title">
			Sponsors
		</h3>
		<div class="widget">
			<a href="http://www.fusion-reactor.com/?affiliate=raymondcamden"><img src="https://static.raymondcamden.com/images/frad150.png" title="FusionReactor"></a>
		</div>
	</div>

  	{{ if not .Site.BuildDrafts }}
	<!--
    {{ partial "widgets/recent_articles" . }}
	-->
    <div id="recentContent"></div>
	
	{{ partial "widgets/categories" . }}
    {{ partial "widgets/tags" . }}
	{{ end }}

    <div id="toTop" class="fa fa-chevron-up"></div>
</aside>
