
<section id="main">
    <article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">

		{{ if eq .Type "post" }}

		<p><a href="https://hostek.com/#raycamden">
			<img src="https://static.raymondcamden.com/images/hostek_banner.jpg" class="centered" style="margin-bottom:10px">
		</a></p>

		{{ end }}

        <div class="article-inner">
            {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
            <img src="https://static.raymondcamden.com{{ .Params.banner }}" class="article-banner" title="{{ .Title }}">
            {{ end }}

            {{ partial "article_header" . }}
            <div class="article-entry" itemprop="articleBody" style="padding-bottom:10px">
                {{ .Content }}
            </div>
        </div>

    </article>
	
	{{ if (eq .Type "post") }}
	<section id="authorPlead">
		<h2>Like This?</h2>
		<p>
			If you like this article, please consider visiting my <a href="http://www.amazon.com/gp/registry/wishlist/2TCL1D08EZEYE/ref=cm_wl_rlist_go_v?">Amazon Wishlist</a> 
			or <a href="https://paypal.me/RaymondCamden">donating via PayPal</a> to show your support. You can also 			
			<a href="https://feedburner.google.com/fb/a/mailverify?uri=RaymondCamdensBlog">subscribe to the email feed</a> 
			to get notified of new posts.
		</p>

<h2>Want to read more like this?</h2>
	<ul>
	{{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
		<li class="relatedPost">
		<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a><br />
		{{ .Description | markdownify }}
		</li>
	{{ else }}
	Sorry, nothing recent related to this content is available.
	{{ end }}
	</ul>	
	</section>
<!--
	<section id="relatedPosts">
	<h2>Related Articles</h2>
	<ul>
	{{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
		<li class="relatedPost">
		<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a><br />
		{{ .Description | markdownify }}
		</li>
	{{ end }}
	</ul>	
	</section>
-->

	{{ end }}
	
	{{ if and (eq .Type "post") (not (isset .Params "nodisqus"))}}	
    <section id="comments">
        <div id="disqus_thread">
            {{ partial "disqus" .}}
        </div>
    </section>
	{{ end }}
</section>
