
<section id="main">
    <article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">

		{{ if eq .Type "post" }}

		<p><a href="https://hostek.com/hosting/coldfusion/vps/coldfusion-vps-hosting.html">
			<img src="/images/ray-ad.jpg" class="centered" style="margin-bottom:10px">
		</a></p>

		{{ end }}

        <div class="article-inner">
            {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
            <img src="{{ .Site.BaseURL }}{{ .Params.banner }}" class="article-banner">
            {{ end }}

            {{ partial "article_header" . }}
            <div class="article-entry" itemprop="articleBody" style="padding-bottom:10px">
                {{ .Content }}
            </div>
        </div>

    </article>

	{{ if and (eq .Type "post") (not (isset .Params "nodisqus"))}}	
    <section id="comments">
        <div id="disqus_thread">
            {{ partial "disqus" .}}
        </div>
    </section>
	{{ end }}
</section>
